@mixin smooth {
    transition: 0.3s cubic-bezier(.51, .92, .24, 1.15);
}

@mixin protectmedia {
    user-select: none;
    pointer-events: none;
}

$corner: 0rem;

.highlighttxt {
    background: linear-gradient(87deg, #AFA7A1 -15.71%, #FE4200 28.99%, #FF805B 89.6%, #98B7C0 114.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    padding: 1.8rem 2rem;
    font-size: 1.56rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    line-height: 100%;
    border-radius: 6rem;
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 10%);
    @include smooth();

    &:hover {
        background-color: hsl(0, 0%, 70%);
    }
}

@mixin btn($bg: #fff, $color: '#222') {
    padding: 1.8rem 2rem;
    font-size: 1.56rem;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    line-height: 100%;
    border-radius: 6rem;
    background-color: $bg;
    color: $color;
    @include smooth();

    &:hover {
        background-color: hsl(0, 0%, 70%);

    }
}


