@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://use.typekit.net/aaf7wuq.css");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Instrument+Serif:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'interstate', sans-serif;
    font-family: 'BeauSans', sans-serif;
}



@font-face {
    font-family: 'BeauSans';
    src: url('/Essentials/BT-BeauSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BeauSans';
    src: url('/Essentials/BT-BeauSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BeauSans';
    src: url('/Essentials/BT-BeauSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeauSans';
    src: url('/Essentials/BT-BeauSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BeauSans';
    src: url('/Essentials/BT-BeauSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.9rem;
    display: none;

    @media only screen and (max-width: 80rem) {
        display: none;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 50%, 0.5);
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 40%);
}

::selection {
    background-color: #FF805B;
    color: hsl(0, 0%, 0%);
}

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}

.swiper-scrollbar-drag {
    background-color: #fff;
}

.swiper-scrollbar {
    background-color: #fff;
}