@import url("https://use.typekit.net/jny1lmf.css");
@import url('../../../public/css/archivo.css');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: "Archivo", sans-serif;
}



@font-face {
    font-family: 'QuantifyOrbit';
    src: url('/Essentials/QuantifyBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 50%, 0.5);
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 40%);
}

::selection {
    background-color: #222;
    color: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(0, 0%, 8%);
    background-color: #1A1A1A;

    color: hsl(0, 0%, 100%);
}

.swiper-scrollbar-drag {
    background-color: #fff;
}

.swiper-scrollbar {
    background-color: #fff;
}