@use "../../../app/styles/essentials";
@import "../../../app/styles/essentials";

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .footerwraper {
        width: 100%;
        max-width: 200rem;
        background-color: hsl(0, 0, 10%);

        .footercontent {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 0rem;
            padding: 2rem 10rem;
            color: hsl(0, 0%, 90%);

            &:nth-child(1) {
                padding: 10rem 10rem 4rem 10rem;

                @media (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 6rem 2rem;
                }
            }

            &:nth-child(2) {
                @media (max-width: 1200px) {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 2rem;
                    padding-bottom: 6rem;
                }
            }

            .passiontxt {
                font-size: 1.5rem;
                font-weight: 300;
                display: flex;
                width: 100%;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
            }

            .linklist {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 4rem;
                max-width: 40rem;

                @media (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                .linklabel {
                    display: flex;
                    padding: 1rem 0rem;
                    color: hsl(0, 0%, 60%);
                    font-size: 1.6rem;
                    font-weight: 400;
                }

                .linkcolumn {
                    display: flex;
                    flex-direction: column;

                    @include smooth;


                    &:hover {
                        .linkitem {
                            opacity: 0.66;
                        }
                    }

                    .linkitem {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.8rem;
                        font-weight: 400;
                        // text-wrap: nowrap;
                        @include smooth;
                        padding: 0.6rem 0rem;

                        &:hover {
                            opacity: 1;
                            transform: translateX(0.4rem);
                        }
                    }
                }
            }

            .socialscontainer {
                display: flex;
                gap: 3rem;
                flex-direction: column;
                align-items: flex-start;

                .socials {
                    display: inline-flex;
                    flex-direction: row;
                    gap: 0.6rem;

                    .socialmedialink {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background: hsl(0, 0, 18%);
                        border-radius: 0.4rem;
                        padding: 2rem;
                        border-radius: 6rem;
                        @include smooth();

                        &:hover {
                            border-radius: 2.8rem;
                            background: hsl(0, 0, 24%);
                        }
                    }
                }
            }
        }

    }
}