@use "../../../app/styles/essentials";
@import "../../../app/styles/essentials";

$background: hsl(0, 0%, 10%);
$color: hsl(0, 0%, 26%);


.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;

    .logo {
        position: absolute;
        top: 6rem;
        right: 4rem;
        // padding: 4rem;

        @media (max-width: 900px) {
            display: none;
        }
    }

    .footerwraper {
        width: 100%;
        max-width: 200rem;
        background-color: $background;
        display: flex;
        flex-direction: column;
        border-top: 0.1rem solid hsl(0, 0%, 10%);



        .footercontent {
            width: 100%;
            padding: 6rem 4rem;
            color: $color;

            @media (max-width: 800px) {
                padding: 6rem 2rem;
            }

            &:nth-child(1) {
                display: flex;
                gap: 1rem;

                padding: 6rem 4rem 0rem 4rem;
            }

            &:nth-child(2) {
                // width: 100%;
                display: flex;
                flex-direction: column;
                // align-items: center;
                gap: 1rem;
                justify-content: center;

                .passiontxt {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: hsl(0, 0%, 100%, 0.6);
                    margin-bottom: 1rem;

                }

                .copyrighttxt {
                    font-size: 1.3rem;

                    font-weight: 400;
                    color: hsl(0, 0%, 100%, 0.4);
                }
            }

            .tag {
                display: inline-flex;
                align-items: flex-start;
                font-size: 2rem;
                font-weight: 400;
                color: hsl(0, 0%, 70%);
                margin-bottom: 1rem;


                .curious {
                    display: inline-flex;
                    gap: 0.3rem;
                    align-items: center;


                }
            }

            .linklist {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-width: 40rem;

                &:hover {
                    .linkitem {
                        opacity: 0.46;
                    }
                }


                .linkitem {
                    text-decoration: none;
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 400;
                    @include smooth;
                    padding: 0rem 0rem;


                    &:hover {
                        opacity: 1;
                        transform: translateX(0.4rem);
                    }

                    &::before {
                        content: '/';
                        font-size: inherit;
                        font-weight: 300;
                        color: hsl(0, 0%, 100%, 0.3);
                        margin-right: 1rem;

                    }
                }

            }

            .socialscontainer {
                width: 100%;
                display: flex;
                gap: 2rem;
                flex-direction: column;
                align-items: flex-start;

                .socials {
                    display: inline-flex;
                    flex-direction: row;
                    gap: 0.6rem 0.6rem;

                    .socialmedialink {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background: hsl(0, 0%, 19%);
                        border-radius: 0.4rem;
                        padding: 1.4rem;
                        border-radius: 6rem;
                        @include smooth();

                        &:hover {
                            border-radius: 2.8rem;
                            background: hsl(0, 0%, 16%);
                        }
                    }
                }
            }
        }

    }
}



.legalwraper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
    font-weight: 600;
    padding: 2rem 0rem;
    user-select: none;


    .inlinewraper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        position: relative;
        padding: 0.4rem 0rem;
        overflow-y: hidden;
        cursor: pointer;

        &:hover {
            &:after {
                transform: translateX(0%);
            }
        }

        &::after {
            transition: 0.2s ease-in-out;

            content: '';
            position: absolute;
            bottom: 0rem;
            z-index: 30;

            width: 100%;
            height: 0.14rem;
            background-color: hsl(0, 0%, 90%);
            transform: translateX(-101%);
        }

        &::before {
            transition: 0.2s ease-in-out;

            content: '';
            position: absolute;
            bottom: 0rem;
            z-index: 10;

            width: 100%;
            height: 0.14rem;
            background-color: hsl(0, 0%, 24%);
            // transform: translateX(-101%);
        }

        .linksinline {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}