.mainnavigatorcontainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pagebtn {
    // background-color: hsl(0, 0, 16%);
    border-radius: 100rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    padding: 1.2rem;
    height: 5.2rem;
    width: 5.2rem;
    user-select: none;
    cursor: pointer;
    transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);
    outline: 0.2rem solid hsl(0, 0, 18%);
    outline-offset: 0.16rem;
    position: relative;

    &:hover {
        outline-offset: 0.16rem;
        outline: 0.2rem solid hsl(0, 0, 35%);
        
    }

    &:focus {
        outline-offset: 0.16rem;
        outline: 0.2rem solid hsl(0, 0, 28%);
    }
}

.active {
    outline: 0.2rem solid hsl(0, 0, 30%);
}