$Width: 16rem;

.videochipwraper {
    display: flex;

    .videolink {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        min-width: 40rem;
        text-decoration: none;
        max-width: $Width;

        @media only screen and (max-width: 800px) {
            width: 100%;
            max-width: 100%;
            // padding: 0rem;
        }

        padding: 2rem 2rem;
        transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);

        &:hover {
            background-color: hsl(0, 0%, 20%);

            .videoinfo {
                .detailwraper {
                    .videotitle {
                        color: #fff;
                    }
                }
            }
        }

        .videoinfo {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            width: 100%;
            height: 100%;
            justify-content: space-between;


            .iconwraper {
                transform: translate(-0.3rem, 0.6rem);
            }

            .detailwraper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: flex-start;

                .videotitle {
                    width: 100%;
                    max-width: 20rem;
                    font-size: 1.52rem;
                    font-weight: 500;
                    line-height: 120%;

                    transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);

                    @media only screen and (max-width: 800px) {
                        width: 100%;
                        max-width: 100%;
                    }

                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    color: hsl(0, 0%, 80%);
                }

                .label {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #fff;
                    opacity: 0.6;
                }
            }


        }

        .videobanner {
            aspect-ratio: 16/9;
            height: 100%;
            width: 100%;
            max-width: $Width;
            min-width: $Width;

            user-select: none;
            pointer-events: none;
            object-fit: cover;
            object-position: center;

            overflow: hidden;
        }
    }
}