$Width: 12rem;

.videochipwraper {
    display: flex;

    .videolink {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
        // min-width: 40rem;
        text-decoration: none;
        // max-width: $Width;
        border-radius: 1.8rem;

        &:hover {
            background-color: hsl(0, 0%, 20%);
            border-radius: 2rem;
        }

        @media only screen and (max-width: 800px) {
            width: 100%;
            max-width: 100%;

            &:hover {
                border-radius: 0rem;
            }
        }

        padding: 1rem;
        transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);



        .videobanner {
            aspect-ratio: 16/9;
            // height: 100%;
            width: 100%;
            max-width: 30rem;

            user-select: none;
            pointer-events: none;
            object-fit: cover;
            object-position: center;
            border-radius: 1.2rem;
            overflow: hidden;


            @media only screen and (max-width: 800px) {
                width: 100%;
                max-width: 100%;
                padding: 1rem;
                border-radius: 0rem;
            }
        }
    }
}