.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 120rem;
    cursor: pointer;
    height: 12rem;
    width: 12rem;
    margin: 1.6rem 0rem;

    outline: 0.2rem solid hsl(0, 0%, 16%);
    outline-offset: 0.2rem;

    &:hover {
        outline: 0.2rem solid hsl(0, 0%, 28%);

        .icon {
            opacity: 0.85;
        }
    }

    .icon {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: hsl(0, 0%, 10%, 0.9);
        opacity: 0.9;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input {
        border-radius: 120rem;

        position: absolute;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

.label {
    font-size: 1.36rem;
    user-select: none;
    font-weight: 400;
    color: hsl(0, 0%, 40%);
}