.wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 1.5rem;
    padding: 10rem 2rem;

    min-height: 10dvh;
    max-width: 200rem;
    color: #fff;

    .subcontainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @media only screen and (max-width: 1000px) {
            flex-direction: column;
            padding: 10rem 0rem;
            align-items: center;
            gap: 3rem;
        }
    }
}


.dropper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

    .upload {
        width: 100%;
        max-width: 50%;
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        input[type="file"] {
            background: #fff;
            color: #000;
            border: none;
            border-radius: 2rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }
    }
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    max-width: 50%;

    @media only screen and (max-width: 1000px) {
        max-width: 100%;
    }

    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 1.4rem;
        user-select: none;
        pointer-events: none;
        margin-bottom: 3rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette {
    display: flex;


    .circleSmall {
        height: 100%;
        width: 100%;
        min-height: 10rem;
        max-width: 10rem;
        max-height: 10rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.75rem;
        color: #fff;
        cursor: pointer;
        transition: transform 0.16s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        @media only screen and (max-width: 1000px) {
            min-height: 4rem;
        }
    }
}


.dropZone {
    outline: 0.16rem dotted #4D4D4D;
    outline-offset: 0.6rem;

    border-radius: 100rem;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 40rem;
    max-width: 30rem;


    text-align: center;
    cursor: pointer;
    background: #212121;
    font-size: 1.6rem;
    line-height: 100%;
    font-variation-settings: "ROUN" 100, "wght" 600;

    user-select: none;
    color: hsl(0, 0%, 60%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.3s ease, background 0.3s ease;

    &:hover {
        outline-color: hsl(0, 0%, 60%);
        background: #1a1a1a;
    }

    &.active {
        outline-color: #0af;
        color: #fff;

        background: radial-gradient(62.5% 62.5% at 50% 50%, #000 0%, #1d1d1d 100%);
    }

    input[type="file"] {
        display: none;
    }
}

.colors {
    border-radius: 1.4rem;
    background-color: hsl(0, 0%, 0%, 0.6);
    border-radius: 14rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}