.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
    padding: 10rem 10rem;
    //   background: #000;
    min-height: 100vh;
    //   margin-top: 10rem;
    max-width: 200rem;
    color: #fff;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        padding: 10rem 2rem;
        gap: 3rem;
    }
}

.upload {
    margin-bottom: 1rem;

    input[type="file"] {
        background: #fff;
        color: #000;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;

    img {
        margin: 2rem;
        width: 100%;
        max-width: 14rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: 10rem;
        user-select: none;
        pointer-events: none;
        margin-bottom: 3rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    }

    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette {
    display: flex;


    .circleSmall {
        height: 100%;
        width: 100%;
        min-height: 10rem;
        max-width: 10rem;
        max-height: 10rem;
        aspect-ratio: 1/1;
        // border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.75rem;
        color: #fff;
        cursor: pointer;
        // border: 2px solid #111;
        transition: transform 0.16s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        @media only screen and (max-width: 1000px) {
            min-height: 4rem;
        }
    }
}


.dropZone {
    border: 0.16rem dashed hsl(0, 0%, 27%);

    border-radius: 100rem;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 40rem;
    max-width: 30rem;


    text-align: center;
    cursor: pointer;
    background: transparent;
    font-size: 1.6rem;
    line-height: 100%;
    user-select: none;
    font-weight: 600;
    color: hsl(0, 0%, 60%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: border-color 0.3s ease, background 0.3s ease;

    &:hover {
        border-color: #fff;
        background: #1a1a1a;
    }

    &.active {
        border-color: #0af;
        // background: #222;
        color: #fff;

        background: radial-gradient(62.5% 62.5% at 50% 50%, #000 0%, #1d1d1d 100%);
    }

    input[type="file"] {
        display: none;
    }
}

.colors {
    border-radius: 1.4rem;
    background-color: hsl(0, 0%, 0%, 0.6);
    border-radius: 1.4rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}