.navbarwraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    .navbarcontainer {
        padding: 1.6rem 2rem;
        width: 100%;
        max-width: 200rem;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: hsl(0, 0, 8%, 0.96);
        backdrop-filter: blur(20px);
        justify-content: space-between;
    }
}