.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    background-color: #E6E3DC;
    background-color: #000;

    .container {
        width: 100%;
        max-width: 200rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 100dvh;

        padding: 4rem 0rem;
        gap: 6rem;

        .benefits {
            width: 100%;
        }

        .hero {
            width: 100%;

            display: flex;
            // grid-template-columns: 1fr 1fr;
            gap: 2rem;
            flex-direction: column;
            align-items: center;

            padding: 2.4rem 4rem;

            .bannerheading {
                display: flex;
                z-index: 40;
                font-size: 8rem;
                line-height: 90%;
                font-weight: 400;
                text-align: center;
                font-family: 'Instrument Serif', serif;
                color: #fff;
            }


            .description {
                font-size: 1.66rem;
                font-weight: 500;
                color: hsl(0, 0%, 40%);

                .highlight {
                    color: #fff;
                }
            }

            .bannerwraper {
                margin-top: 6rem;

                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 90rem;
                padding: 2rem;
                position: relative;

                flex-direction: column;

                &::after {
                    z-index: 60;
                    content: ' ';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    background-size: 0.6px 1px, 1px 1px;
                    background-position: 0, 1px 1px;
                    background-image: radial-gradient(circle, #404040, rgba(255, 255, 255, 0) 60%), radial-gradient(circle, #404040, rgba(255, 255, 255, 0) 60%);
                    mix-blend-mode: multiply;
                }


                .herobanner {
                    z-index: 50;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    // aspect-ratio: 1/1;
                    // border-radius: 100%;
                    user-select: none;
                    pointer-events: none;


                }
            }

            .herowraper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 6rem;
            }
        }

    }
}




.container {
    background-color: #000;
    min-height: 100vh;
    padding: 4rem 2rem;
    color: white;
}

.benefitgrid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem 3rem;
    padding: 4rem;
    // margin: 0 auto;

    @media (max-width: 900px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 6rem 4rem;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 6rem;
    }
}

.feature_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    font-family: Instrument Serif, serif;

    color: white;
}


@media (max-width: 480px) {
    .container {
        padding: 2rem 4rem;
    }

    .title {
        font-size: 1.25rem;
    }

}