.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    background-color: #E6E3DC;
    background-color: #fff;
    // background-color: #000;

    position: relative;


    .container {
        width: 100%;
        max-width: 200rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 100dvh;

        padding: 0rem 0rem;
        // gap: 6rem;

        .benefits {
            width: 100%;
        }

        .revealtextcontainer {
            padding: 10rem 0rem;
        }

        .hero {
            width: 100%;

            display: flex;
            // grid-template-columns: 1fr 1fr;
            gap: 2rem;
            flex-direction: column;
            align-items: center;

            padding: 2.4rem 4rem;

            position: relative;



            @media (max-width: 800px) {
                padding: 2.4rem 2rem;
            }

            .bannerheading {
                display: flex;
                z-index: 40;
                font-size: 12rem;
                line-height: 90%;
                font-weight: 400;
                text-align: center;
                font-family: 'Instrument Serif', serif;

                color: #fff;

                @media (max-width: 1000px) {
                    font-size: 12rem;
                }

                @media (max-width: 800px) {
                    font-size: 5.6rem;
                }


            }


            .description {
                font-size: 1.6rem;
                font-weight: 500;
                color: hsl(0, 0%, 40%);

                .highlight {
                    color: #fff;
                }
            }

            .bannerwraper {
                margin-top: 0rem;

                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 100rem;
                // padding: 2rem;
                position: relative;
                flex-direction: column;


                .herobanner {
                    z-index: 50;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;

                    user-select: none;
                    pointer-events: none;


                }
            }

            .herowraper {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 6rem;
            }
        }

    }
}


.faqwraper {
    padding: 4rem 10rem;
    width: 100%;
    // gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr;

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    }
}

.benefitgrid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    // margin: 0 auto;

    @media (max-width: 800px) {
        padding: 2.4rem 2rem;
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 6rem 4rem;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 6rem;
    }
}

.feature_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    font-family: Instrument Serif, serif;

    color: white;
}


@media (max-width: 480px) {
    .container {
        padding: 2rem 4rem;
    }

    .title {
        font-size: 1.25rem;
    }

}


.testimonialcontainer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 10rem;
    align-items: center;
    width: 100%;

    @media (max-width: 900px) {
        flex-direction: column;
        width: 100%;
        padding: 2rem;
    }

    .testimonialwraper {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100%;

        @media (max-width: 900px) {
            flex-direction: column;
            width: 100%;
        }

        .testimonial {
            overflow: hidden;
            border-radius: 1rem;
            aspect-ratio: 1/1;
            width: 100%;
            text-decoration: none;

            background-color: #F9F4F2;
            position: relative;

            .instalogo {
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                position: absolute;
                bottom: 0;
                left: 0;
            }

            .testimonialtext {
                padding: 3.2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                font-size: 2.6rem;
                font-weight: 400;
                line-height: 140%;
                font-family: Instrument Serif, serif;
                color: #2d2c2b;

                @media (max-width: 1000px) {
                    font-size: 1.7rem;
                }

                .by {
                    max-width: 80%;
                    font-size: 1.46rem;
                    font-weight: 400;
                    line-height: 150%;
                    color: #44423f;

                    @media (max-width: 1000px) {
                        font-size: 1.26rem;
                    }
                }
            }

            .banner {
                width: 100%;
                height: 100%;
                object-fit: cover;
                user-select: none;
                pointer-events: none;

                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
}