$archivo: 'Archivo';

.componentwraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    .uploadbtnwraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 20rem;
        width: 40rem;
        gap: 0.6rem;
        overflow-x: hidden;

        .fileuploader {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .subwraper {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 1.6rem;
            font-family: $archivo;
        }

        .mainlabel {
            font-size: 2rem;
            font-weight: 500;
            font-family: $archivo;
        }
    }
}

.keycombo {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    align-items: center;
    margin-left: 0.6rem;

    .key {
        display: inline-flex;
        padding: 0.4rem;
        border-radius: 0.8rem;
        font-family: $archivo;
        line-height: 100%;
        font-size: 1.26rem;
        font-weight: 500;
        background-color: hsl(0, 0%, 26%);
        color: hsl(0, 0%, 60%);
    }
}