.backbtnwraper {
    height: 5.2rem;
    width: 5.2rem;

    .backbtn {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        background-color: transparent;
        background: transparent;
        width: 100%;

        cursor: pointer;

        background-color: none;
        text-decoration: none;
        border-radius: 1.6rem;
        transition: 0.3s cubic-bezier(.51, .92, .24, 1.15);
        outline: 0.2rem solid hsl(0, 0%, 16%);
        outline-offset: 0.16rem;

        .backbtnicon {
            height: 2.8rem;
            scale: -1;
            fill: hsl(0, 0%, 90%);
        }

        &:hover {
            background-color: hsl(0, 0%, 16%);
            border-radius: 20rem;
            outline: 0.2rem solid hsl(0, 0%, 35%);
            outline-offset: 0.16rem;
        }

        &:focus {
            scale: 0.96;
        }
    }
}