@use '../../styles/essentials';
@import '../../styles/essentials';

.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .container {
        width: 100%;
        max-width: 200rem;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        padding: 10rem 2rem;
        // max-width: 50rem;
        gap: 4rem;

        .layoutgrid {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-column: auto;
            gap: 10rem;

            @media (max-width: 1000px) {
                grid-template-columns: 1fr;
                gap: 4rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }


    }
}


.label {
    font-size: 1.56rem;
    user-select: none;
    font-variation-settings: "ROUN" 100, "wght" 400;

    color: hsl(0, 0%, 40%);
    border: 0.2rem solid hsl(0, 0%, 16%);
    border-radius: 1.6rem;
    padding: 2rem 1.6rem;
    display: flex;
    flex-direction: column;
    cursor: text;

    gap: 0.6rem;

    &:hover {
        border: 0.2rem solid hsl(0, 0%, 26%);
    }

    &:focus-within {
        .input {
            color: #fff;
        }

        border: 0.2rem solid #1d75de;
    }
}

.deleteButton {
    display: flex;
    max-width: 30rem;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.7rem;
    color: hsl(0, 0%, 75%);
    font-variation-settings: "ROUN" 100, "wght" 700;

    background-color: hsl(0, 0%, 29%);

    &:focus {
        outline: 0.16rem solid hsl(0, 70%, 50%);
        outline-offset: 0.3rem;
    }

    &:hover {
        background-color: hsl(0, 0%, 36%);
        color: hsl(0, 0%, 100%);
    }
}

.warning {
    color: #666;
    font-size: 1.6rem;
    font-variation-settings: "ROUN" 100, "wght" 400;
}