.wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 200rem;
        padding: 10rem 2rem;
        gap: 6rem;
    }
}

.gridpostlayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @media (max-width: 800px) {
        gap: 0.6rem;
    }
}

.userProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    box-sizing: content-box;
    background-color: hsl(0, 0%, 38%);
    padding: 2.6rem;
    justify-content: space-between;
    height: 100%;
    min-height: 20rem;
    max-height: 20rem;
    max-width: 30rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

    .orbitoriginal {
        z-index: 40;
        position: absolute;
        top: -0.1rem;
        right: 1.6rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 800px) {
        max-width: 100%;
    }

    .userInfo {
        display: flex;
        flex-direction: column;
        gap: 0rem;

        .userName {
            font-size: 1.8rem;
            font-variation-settings: "ROUN" 100, "wght" 600;

            color: hsl(0, 0%, 70%);
        }

        .userUsername {
            font-size: 1.8rem;
            font-variation-settings: "ROUN" 100, "wght" 700;

            color: hsl(0, 0%, 100%);
            display: flex;
            flex-direction: row;
            gap: 0.4rem;
            align-items: center;
        }
    }
}


.follower {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.46rem;
    gap: 1rem;
    user-select: none;
    margin-top: 2rem;
}

.followkey {
    user-select: none;
    padding: 0.4rem 0.6rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(0, 0%, 40%);
    border: 0.1rem solid hsl(0, 0%, 28%);
    transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);
    box-shadow: hsla(0, 0%, 11%, 0.2) 0px 0.4px 4px;
    background-color: hsl(0, 0%, 26%);
}