.popup {
    position: fixed;
    padding: 12px 24px;
    background-color: #fff;
    color: #222;
    border-radius: 80rem;
    font-size: 1.66rem;
    padding: 1.6rem;
    z-index: 1000;
    font-weight: 700;
}