.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    //   padding: 2rem;
    // gap: 1.5rem;
}

.heading {
    font-size: 1.46rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: hsl(12, 100%, 48%);
    padding: 2rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    &::before{
        display: flex;
        content: '';
        height: 0.6rem;
        width: 0.6rem;
        border-radius: 100%;
        background-color: #FF3906;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding: 0.4rem 2rem;
    margin-bottom: 1rem;
}

.timeBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: hsl(0, 0%, 10%);
}

.value {
    font-size: 2.5rem;
    font-weight: bold;
}

.label {
    font-size: 1.1rem;
    color: hsl(0, 0%, 40%);
    margin-top: 0.3rem;
}

.button {
    background: hsl(211, 100%, 50%);
    color: #fff;
    font-weight: 600;
    padding: 4rem 2rem 2rem 2rem;
    border: none;
    width: 100%;
    font-size: 1.8rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;

    &:hover {
        background: hsl(211, 100%, 54%);
        padding: 4rem 2.4rem 2rem 2.4rem;
    }
}