.probadge {
    background-image: url('https://images.unsplash.com/photo-1743361657693-7b60363b6d16?q=80&w=2427&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    // min-height: 60rem;
    padding: 0rem 0rem;
    width: 100%;
    max-width: 200rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    .tnc{
        position: absolute;
        top: 0;
        left: 0;
        padding: 4rem 4rem;
        opacity: 0.7;
        font-size: 1.1rem;
        font-weight: 400;
    }

    .prowraper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .proinfo {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1rem;
            box-shadow: hsla(76, 45%, 20%, 0.25) 0px 50px 100px -20px, hsla(76, 45%, 20%, 0.4) 0px 30px 60px -30px;
            padding: 3rem 4rem;

            background-color: #fff;

            @media only screen and (max-width: 1000px) {
                grid-template-columns: 1fr 1fr;
                gap: 4rem;
                padding: 3rem 2rem;
            }


            @media only screen and (max-width: 800px) {
                grid-template-columns: 1fr;
                gap: 4rem;
            }

            .probenefit {
                color: hsl(0, 0%, 40%);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 1.2rem;

                .proicon {
                    height: 2.4rem;
                    user-select: none;
                    pointer-events: none;
                }

                .label {
                    display: inline-flex;
                    font-size: 1.4rem;
                    color: hsl(0, 0%, 20%);
                    font-weight: 500;

                    border-bottom: 0.19rem dotted hsl(0, 0%, 60%);
                }
            }
        }
    }


    .probtn {
        display: flex;
        // padding: 4rem 4rem;
        border-radius: 10rem;
        margin: 14rem 2rem;
        cursor: pointer;

        align-items: center;
        justify-content: center;

        height: 20rem;
        width: 20rem;

        user-select: none;

        font-size: 3.4rem;
        outline: 0.2rem solid hsl(0, 0%, 100%);

        font-weight: 700;
        color: hsl(0, 0%, 0%);
        letter-spacing: 0rem;
        font-family: QuantifyOrbit, sans-serif;
        letter-spacing: -0.04rem;

        background: #fff;

        transition: 0.16s cubic-bezier(1, 0, 0, 1);

        &:hover {
            outline-offset: 0.3rem;
        }
    }


}