.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .container {
        width: 100%;
        max-width: 200rem;
        display: flex;

        .playerwraper {
            width: 100%;
            padding: 10rem 2rem;
            border-radius: 1rem;
            overflow: hidden;

            gap: 1rem;

            display: flex;
            flex-direction: column;

            .playercontainer{
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 2rem;
                align-items: flex-start;
                justify-content: flex-start;

                .playersection{
                    width: 100%;
                }

                .videochipwraper{
                    display: flex;
                    flex-direction: column;
                    padding: 0rem 0rem 0rem 0rem;
                    // background-color: hsl(0, 0, 16%);
                    gap: 0rem;

                    .wraperheader{
                        padding: 0rem 2rem 2rem 2rem;
                    }
                }
            }

            .videolabel {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                gap: 1rem;
                border-radius: 1rem;

                padding: 4rem 0rem 2rem 0rem;

                .videoinfo {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .eplabel {
                        font-size: 1.46rem;
                        opacity: 0.6;
                    }

                    .title {
                        font-weight: 700;
                        font-size: 2rem;
                    }
                }

            }

        }

        .videochipcontainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}


.nextbutton {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    line-height: 100%;
    font-weight: 400;
    font-size: 1.56rem;
    background-color: none;
    background: none;
    gap: 0.4rem;
    color: #fff;
    border-radius: 10rem;
    padding: 1.4rem 2rem;
    padding-right: 2.2rem;
    font-family: Instrument Serif;
    font-size: 2.2rem;
    cursor: pointer;
    border: 0.16rem solid hsl(0, 0%, 30%);
    text-decoration: none;
    user-select: none;

    &:focus{
        outline: 0.16rem solid hsl(0, 0%, 40%);
        outline-offset: 0.16rem;
    }

}