.container {
  padding: 2rem 4rem;
  max-width: 50rem;

  @media (max-width: 800px) {
    padding: 2.4rem 2rem;
  }
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  font-size: 3.6rem;
  line-height: 120%;
  font-weight: 400;
  color: hsl(0, 0%, 90%);
  font-family: Instrument Serif, serif;
  gap: 0.4rem;

  @media (max-width: 800px) {
      font-size: 3rem;
  }
}

.word {
  transition: opacity 0.3s ease;
  will-change: opacity;
  font-weight: 400;
  font-family: Instrument Serif, serif;
}