.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;

    .container {
        height: 100%;
        min-height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        max-width: 200rem;
        user-select: none;
        padding: 10rem 2rem;

        .homelink {
            text-align: center;
            font-size: 1.56rem;
            text-decoration: none;
            color: #fff;
            user-select: none;
        }

        .title {
            font-weight: 400;
            font-family: 'Instrument Serif';
            font-size: 20rem;
        }
    }
}