.wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container {
    min-height: 100dvh;
    width: 100%;
    max-width: 200rem;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 2rem;
    .main {
      display: flex;
      flex-direction: row;
      gap: 1.6rem;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;

        .pagebtn {
          display: flex;
          width: 100%;
          align-items: flex-start;
          justify-content: flex-start;
          font-size: 4rem;

          .pagebanner {
            height: 4rem;
          }
        }
      }

      .pagebtn {
        background-color: hsl(0, 0, 16%);
        border-radius: 100rem;

        font-size: 6rem;
        color: hsl(0, 0, 90%);
        font-family: Instrument Serif;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.6rem;

        padding: 1.2rem;
        padding-right: 3.4rem;
        user-select: none;
        cursor: pointer;
        transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);
        outline: 0.3rem solid hsl(0, 0, 10%);
        outline-offset: 0.2rem;

        &:hover {
          outline-offset: 0.2rem;
          outline: 0.3rem solid hsl(0, 0, 20%);
        }

        &:focus {
          outline-offset: 0.2rem;
          outline: 0.3rem solid hsl(0, 0, 30%);
        }

        @media only screen and (max-width: 300px) {
          font-size: 4rem;
        }

        .pagebanner {
          border-radius: 100rem;
          object-fit: cover;
          object-position: center;
          aspect-ratio: 1/1;
          height: 10rem;
          pointer-events: none;

          @media only screen and (max-width: 300px) {
            height: 6rem;
          }
        }


      }
    }
  }
}