.curriculum {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6rem;
    padding: 8rem 2rem;
    position: relative;

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;

        padding: 4rem 0rem;
    }

    .line {
        z-index: 10;
        display: flex;
        position: absolute;
        top: 0;
        transform: translateY(17.5rem);
        height: 0.16rem;
        background-color: #292929;
        width: 100%;

        @media (max-width: 1000px) {
            display: none;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0rem 2rem;
    gap: 4.4rem;
    z-index: 20;

    @media (max-width: 1000px) {
        gap: 1rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap: 3.2rem;

    @media (max-width: 1000px) {
        gap: 2rem;
    }
}

.phase {
    font-weight: 400;
    font-size: 2.6rem;
    font-family: Instrument serif;
    color: #ffffffcc;
}

.index {
    width: 6rem;
    height: 6rem;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Instrument serif;
    font-weight: 400;
    font-size: 2rem;
    background-color: #1d1d1f;

    color: #fafafa;
    border: 0.16rem solid #292929;
}

.title {
    font-size: 2.4rem;
    font-weight: 400;
    color: #ffffffcc;
    min-height: 6rem;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1.36rem;
    color: hsl(0, 0%, 43%);
    line-height: 150%;
    margin-bottom: 1rem;
}

.list {
    list-style: none;
}

.bullet {
    font-size: 1.52rem;
    color: #ffffffcc;
    line-height: 150%;
    margin-bottom: 0.3rem;
}