.faq {
    display: grid;
    padding: 0rem 2rem;
    width: 100%;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: flex-start;
    border-bottom: 1px solid #292929;
    padding: 2rem 0rem;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1.5rem 0rem;
    }

    @media (max-width: 600px) {
        padding: 1rem 0rem;
    }
}

.number {
    font-size: 1.26rem;
    font-weight: 400;
    padding: 2rem 0;

    color: #86868b;

    @media (max-width: 900px) {
        padding: 1rem 0 0.5rem 0;
        display: none;
    }
}

.qa {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
}

.question {
    all: unset;
    font-size: 1.36rem;
    font-weight: 300;
    color: #86868b;
    padding: 2rem 0;
    cursor: pointer;

    @media (max-width: 900px) {
        font-size: 1.1rem;
        padding: 1rem 0;
    }
}

.answer {
    overflow: hidden;
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
    color: #f5f5f5;

    @media (max-width: 900px) {
        font-size: 1.4rem;
    }

    @media (max-width: 600px) {
        font-size: 1.1rem;
    }
}