.feed {
    // margin: 1rem;
    // margin-bottom: 4rem;
    border: 0.16rem solid hsl(0, 0%, 20%);
    position: relative;
    border-radius: 2rem;
    overflow: scroll;
    height: 100%;
    max-height: calc(100dvh);
    margin: 1rem;

    @media (max-width: 900px) {
        // margin-top: 10rem;
        margin: 4rem 1rem;
    }
}


.wraper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    position: relative;
}