.feed {
    margin-top: 1rem;
    margin-bottom: 4rem;
    border: 0.16rem solid hsl(0, 0%, 20%);
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.wraper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    position: relative;

    .ctacontainer {
        display: flex;
        gap: 0rem;
        margin-bottom: 0.4rem;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 0;
        max-width: 54rem;
        z-index: 99;
        outline: 0.1rem solid hsl(0, 0%, 10%);
        background-color: hsl(0, 0%, 0%, 0.8);
        backdrop-filter: blur(40px);

        display: none;

        .ctas {
            // background-color: hsl(220, 80%, 50%);
            color: #fff;
            background: transparent;
            border: none;
            padding: 1.4rem;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 700;
            // border-radius: 0.8rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:nth-child(2) {
                font-weight: 700;
                color: hsl(0, 0%, 40%);
            }
        }
    }
}