$charcoal: #201F18;

$color: $charcoal;
// $color: #EFE6E8;
$sec-color: #fff;

$background: hsl(0, 0, 0%);
// $background: #D3C7B4;
$cream: #D3C7B4;

$condensed: 'interstate-compressed', sans-serif;

.boldunder {
    font-family: inherit;
    font-weight: 900;
}


.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    // background-color: $background;


    .cta {
        display: flex;
        // background-color: #0988f0;
        background-color: hsla(0, 0%, 100%, 0.8);


        color: $color;

        padding: 2rem 2rem 2rem 1.6rem;
        line-height: 100%;
        font-size: 1.66rem;
        border-radius: 1.6rem;
        font-family: 'interstate', sans-serif;

        font-weight: 500;
        cursor: pointer;

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        user-select: none;

        transition: 0.1s ease-in-out;

        &:hover {
            background-color: $charcoal;
            color: #bbbbbb;
        }

        .providericon {
            height: 2rem;
        }
    }

    .navleft {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        .logo {
            text-decoration: none;

            .otoicon {
                height: 5.4rem;
                fill: #ffffffcc;
            }
        }

        .navbtn {
            display: flex;
            height: 5.4rem;
            width: 5.4rem;
            padding: 1rem;
            border-radius: 100rem;
            cursor: pointer;
            background-color: #E6DFD4;
            background-color: #1d1d1f;

            transition: 0.1s ease-in-out;

            &:hover {
                background-color: #1d1d1f;
            }

            &:focus {
                background-color: #1d1d1f;
            }
        }
    }

}

.wraper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $background;

    .container {
        display: flex;
        width: 100%;
        max-width: 200rem;
        flex-direction: column;
        align-items: center;
        background-color: $background;


        .hero {
            padding: 0rem 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .heroheading {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 100dvh;
                width: 100%;
                padding: 0rem 2rem;
                gap: 0rem;

                .herotitle {
                    font-size: 20rem;
                    color: $color;
                    color: hsla(0, 0, 100%, 0.8);
                    line-height: 100%;
                    text-align: center;
                    font-family: $condensed;
                    font-weight: 900;
                    padding: 10rem 0rem;
                }

            }


            .descriptioncontainer {
                display: flex;
                width: 100%;
                flex-direction: row;
                padding: 0rem 0rem;
                justify-content: space-evenly;
                border-radius: 4rem;

                .leftpanel {
                    width: 100%;
                    display: flex;
                }

                .descriptionwraper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding-bottom: 16rem;


                    .description {
                        font-size: 2.4rem;
                        color: $color;
                        font-weight: 300;
                        line-height: 150%;
                        padding: 4rem 0rem;
                        color: #86868b;
                        font-family: Instrument Serif;


                        .highlight {
                            display: flex;
                            font-family: Instrument Serif;
                            color: #ffffffcc;
                            font-size: 5rem;
                            line-height: 100%;
                            font-weight: 400;
                        }
                    }
                }
            }

        }

        .faqcontainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 14rem 4rem;
            gap: 2rem;

            background-color: #1d1d1f;
            @media (max-width: 1000px) {
                padding: 10rem 1rem;
            }

            .subheadingfaq {
                font-size: 1.56rem;
                color: #86868b;
            }

            .faqheader {
                font-size: 6rem;
                font-weight: 400;
                color: #f5f5f7;
                line-height: 100%;
                font-family: Instrument Serif;
            }
        }

        .curriculumcontainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 6rem 0rem;
            background-color: #1d1d1f;
            
            .curriculumheader {
                padding: 10rem 1rem 0rem 4rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .subheadingcurriculum {
                    font-size: 1.56rem;
                    color: #86868b;
                }

                .curriculumheading {
                    font-size: 6rem;
                    font-weight: 400;
                    color: #f5f5f7;

                    line-height: 100%;
                    font-family: Instrument Serif;
                }
            }
        }

    }
}




.title {
    font-family: interstate-compressed, sans-serif;
    font-weight: 900;
    line-height: 100%;
}