$color: #202020;
// $color: #EFE6E8;
$sec-color: #fff;
$background: hsl(0, 0, 100%);
$background: #D3C7B4;

.wraper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        width: 100%;
        max-width: 200rem;
        flex-direction: column;
        min-height: 100dvh;
        // max-height: 100dvh;
        align-items: center;
        background-color: $background;


        .navbar {
            z-index: 1000;
            position: fixed;
            top: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 1rem;
            // background-color: $background;


            .cta {
                display: flex;
                // background-color: #0988f0;
                background-color: #fff;


                color: #202020;

                padding: 2rem 2rem 2rem 1.6rem;
                line-height: 100%;
                font-size: 1.66rem;
                border-radius: 1.6rem;
                font-family: 'interstate', sans-serif;

                font-weight: 500;
                cursor: pointer;

                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 1rem;
                user-select: none;

                transition: 0.1s ease-in-out;

                &:hover {
                    background-color: #202020;
                    color: #bbbbbb;
                }

                .providericon {
                    height: 2rem;
                }
            }

            .navleft {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.4rem;

                .logo {
                    text-decoration: none;

                    .otoicon {
                        height: 5.4rem;
                    }
                }

                .navbtn {
                    display: flex;
                    height: 5.4rem;
                    width: 5.4rem;
                    padding: 1rem;
                    border-radius: 100rem;
                    cursor: pointer;
                    background-color: #E6DFD4;

                    transition: 0.1s ease-in-out;

                    &:hover {
                        background-color: #fff;
                    }

                    &:focus {
                        background-color: #fff;
                    }
                }
            }

        }


        .hero {
            width: 100%;
            display: flex;
            background-color: $background;

            padding: 10rem 1rem;

            .headingcontainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                padding: 0rem 0rem;
                position: relative;
                overflow: hidden;
                border-radius: 50rem;


                @media (max-width: 800px){
                    border-radius: 1rem;
                }


                .title {
                    z-index: 20;
                    position: absolute;
                    height: 42rem;
                    left: 0;
                    padding: 10rem 16rem;

                    user-select: none;
                    pointer-events: none;

                    @media (max-width: 800px){
                        height: 32rem;
                        padding: 2rem;
                    }
                }

                .titlebanner {
                    z-index: 10;
                    height: 100%;
                    max-height: 50rem;

                    width: 100%;
                    display: flex;
                    object-fit: cover;
                    object-position: center;

                    pointer-events: none;
                    user-select: none;

                    transform: scaleX(-1);

                    @media (max-width: 800px){
                        aspect-ratio: 1/1;
                        height: 100%;
                    }

                }

            }
        }
    }
}