@import '../../../app/styles/essentials';

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 1.8rem;
    border-radius: 6rem;

    font-size: 1.5rem;
    font-weight: 400;
    text-wrap: nowrap;
    cursor: pointer;
    line-height: 100%;
    user-select: none;

    @media only screen and (max-width: 800px) {
        max-width: 100%;
    }

    @include smooth;
    background-color: hsl(0, 0, 100%);

    &:hover {
        background-color: hsl(0, 0, 80%);
    }

    &:focus {
        outline: 0.16rem solid #1d75de;
        outline-offset: 0.3rem;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.default {
    background-color: hsl(0, 0, 100%);

    &:hover {
        background-color: hsl(0, 0, 80%);
    }

    &:hover:not(:disabled) {
        background-color: hsl(0, 0, 80%);
    }
}

.disabled {
    color: hsl(0, 0, 20%);
    background-color: hsl(0, 0, 60%);

    &:hover:not(:disabled) {
        background-color: #565e64;
    }
}

.fullWidth {
    color: #000;
    background-color: hsl(0, 0, 100%);

    &:hover:not(:disabled) {
        background-color: hsl(0, 0, 80%);
    }
}

.fullWidth {
    width: 100%;
}