$archivo: 'Archivo';

.orbpost {
    display: flex;
    flex-direction: column;
    padding: 1.8rem 1.4rem;
    stroke: 0.2rem solid #333333;
    background-color: #222222;
    border-radius: 1.6rem;
    width: 100%;
    max-width: 40rem;

    .orbpostwraper {
        display: flex;
        width: 100%;

        .layer {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;


            .avatar {
                height: 4rem;

                aspect-ratio: 1/1;
                border-radius: 10rem;

                pointer-events: none;
                user-select: none;
                object-fit: cover;
            }

            .postcontent {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                width: 100%;

                .username {
                    text-transform: lowercase;
                    display: inline-flex;
                    font-size: 1.6rem;
                    font-weight: 600;
                    align-items: center;
                    font-family: $archivo;
                    color: #fff;
                    gap: 0.4rem;
                    line-height: 100%;
                }

                .poststory {
                    font-family: $archivo;
                    display: inline-flex;
                    font-size: 1.5rem;
                    font-weight: 300;
                    line-height: 136%;
                    flex-direction: column;
                    align-items: flex-start;
                    color: hsl(0, 0%, 80);
                }

                .usercontrols {
                    margin-top: 1.4rem;

                    .likebtn {
                        cursor: pointer;
                        display: inline-flex;
                        padding: 0.7rem 0.8rem;
                        margin: -0.8rem;
                        background: none;
                        color: #929292;
                        font-family: $archivo;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 100%;
                        gap: 0.4rem;
                        border-radius: 10rem;
                        align-items: center;
                        user-select: none;

                        .hearticon {
                            stroke: #929292;
                            height: 1.4rem;
                            width: auto;
                        }

                        &:hover {
                            background-color: #313131;

                            .hearticon {
                                stroke: #F91880;
                            }
                        }

                        &:focus {
                            background-color: #501632;
                            color: #F91880;

                            .hearticon {
                                stroke: #F91880;
                                fill: #F91880;
                            }
                        }
                    }
                }
            }

            .moreicon {
                display: inline-flex;
                background-color: none;
                background: none;
                cursor: pointer;

                font-size: 1.46rem;
                font-weight: 600;
                align-items: center;
                font-family: $archivo;
                color: #929292;
                gap: 0.4rem;
                line-height: 100%;
            }
        }
    }
}

.postParagraph {
    font-family: $archivo;
}

.inlinelink {
    text-decoration: none;
    color: #1B90D6;
    font-family: $archivo;
}