@use './../../styles/essentials';
@import './../../styles/essentials';

$light: #F7F8F2;
$dark: #000;
$sec-dark: $dark;

$color: $dark;
$background: $dark;
$fill: $dark;

.navbarcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    background-color: $background;

    .navbar {
        width: 100%;
        max-width: 200rem;
        padding: 3rem 4rem;

        @media (max-width: 800px) {
            padding: 2rem 2rem;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            user-select: none;
            pointer-events: none;
        }

        .cta {
            font-size: 1.8rem;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
        }
    }
}