.overlayBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    padding: 1rem;
    min-height: 100dvh;

    
}

.overlayContent {

    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(30, 27, 27, 0.1);
    width: 100%;
    max-height: 100dvh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    // Mobile: Full screen
    @media (max-width: 768px) {
        height: 100%;
        max-height: 100vh;
        border-radius: 0;
        margin: 0;
    }

    // Desktop: Contained
    @media (min-width: 769px) {
        max-width: 100%;
        width: auto;
        min-width: 500px;
    }
}

// Optional full screen on desktop
.fullScreenDesktop {

    @media (min-width: 769px) {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100vh;
        border-radius: 0;
    }
}


.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.overlayBody {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;

}

.triggerButton {
    padding: 1.1rem 1rem;
    font-size: 1.46rem;
    width: 100%;
    line-height: 100%;

    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s;
    color: #121212;
    border-radius: 1rem;
    user-select: none;
    background-color: none;
    background: none;
    line-height: 100%;

    &:hover {
        background: hsl(0, 0%, 86%);
    }
}

.buttonIcon {
    display: inline-flex;
    margin-right: 0.5rem;
}