@use '../../styles/essentials';
@import '../../styles/essentials';

.wraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .container {
        width: 100%;
        max-width: 200rem;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        padding: 10rem 2rem;
        // max-width: 50rem;
        gap: 4rem;

        .layoutgrid {
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-column: auto;
            gap: 10rem;

            @media (max-width: 1000px) {
                grid-template-columns: 1fr;
                gap: 4rem;
            }
        }


        .userInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.6rem;

            .name {
                width: 100%;

                display: flex;
                gap: 1rem;
                flex-direction: column;
            }

            .username {
                width: 100%;
                display: flex;
                gap: 1rem;
                flex-direction: column;
            }

            .email {
                width: 100%;
                display: flex;
                gap: 1rem;
                flex-direction: column;
                user-select: none;

                .emaillabel {
                    font-size: 1.36rem;
                    user-select: none;
                    font-weight: 400;
                    color: hsl(0, 0, 30%);
                    border: 0.2rem solid hsl(0, 0, 12%);
                    border-radius: 1.6rem;
                    padding: 2rem 1.6rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;

                    .emailinput {
                        color: hsl(0, 0, 30%);
                        padding: 0.6rem 0rem 0.2rem 0rem;
                        font-size: 1.8rem;
                        font-weight: 500;
                    }
                }

            }
        }

        .header {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            gap: 2rem;
            align-items: flex-start;

            .avatar {
                height: 10rem;
                width: 10rem;

                object-fit: cover;
                border-radius: 100rem;
                object-position: center;

                user-select: none;
                pointer-events: none;
            }

            .headerdata {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-size: 4rem;
                    font-family: Instrument Serif;
                    font-weight: 400;
                    line-height: 100%;
                    user-select: none;
                }
            }

        }
    }
}

.formwraper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.formlayout {
    width: 100%;
    display: grid;
    gap: 10rem;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

.label {
    font-size: 1.36rem;
    user-select: none;
    font-weight: 400;
    color: hsl(0, 0, 40%);
    border: 0.2rem solid hsl(0, 0, 16%);
    border-radius: 1.6rem;
    padding: 2rem 1.6rem;
    display: flex;
    flex-direction: column;
    cursor: text;

    gap: 0.6rem;

    &:hover {
        border: 0.2rem solid hsl(0, 0, 26%);
    }

    &:focus-within {
        .input {
            color: #fff;
        }

        border: 0.2rem solid #1d75de;
    }
}

.input {
    padding: 0.6rem 0rem 0.2rem 0rem;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: none;
    background: none;
    color: hsl(0, 0, 60%);
    transition: 0.3s cubic-bezier(.51, .92, .24, 1.15);
}


.email {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    user-select: none;

    .input {
        user-select: none;
        pointer-events: none;
    }
}

.submitbtn {
    display: flex;
    padding: 3rem 2rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.56rem;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    user-select: none;
    justify-content: center;
}