@use './../../styles/essentials';
@import './../../styles/essentials';

$light: #F7F8F2;
$dark: #000;
$sec-dark: $dark;

$color: $dark;
$background: $dark;
$fill: $dark;

.navbarcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;

    // background-color: $background;

    .notification{
        padding: 2rem;
        background-color: hsl(216, 100%, 47%);
        color: #fff;
        width: 100%;
        font-size: 1.36rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        width: 100%;
        max-width: 200rem;
        padding: 2rem 10rem;

        @media (max-width: 800px) {
            padding: 2rem 2rem;
        }

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mainleft {
            // user-select: none;
            // pointer-events: none;
            fill: $dark;
            display: flex;
            flex-direction: row;
            gap: 10rem;
            align-items: center;

            .navlinks {
                display: flex;
                gap: 3rem;

                .navlink {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: $color;
                }
            }
        }

        .cta {
            font-size: 1.46rem;
            font-weight: 500;
            color: $dark;
            text-decoration: none;

            padding: 2rem 2rem;
            border-radius: 10rem;
            background-color: hsl(216, 100%, 47%);
            color: #fff;

            transition: 0.2s ease-in-out;
            &:hover {
                background-color: hsl(216, 100%, 40%);
            }
        }
    }
}