.followBtn {
    padding: 2rem 2rem;
    height: 6rem;
    font-weight: 500;
    border-radius: 10rem;
    background-color: white;
    color: #222;
    cursor: pointer;
    margin-top: 1.4rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.4rem;
    transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);
}

.followBtn:hover {
    background-color: hsl(0, 0, 60%);
    color: white;
}

.following {
    background-color: hsl(0, 0, 50%);
    color: hsl(0, 0, 30%);
    cursor: pointer;
}

.followkey {
    display: flex;
    padding: 0.4rem 0.6rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: hsl(0, 0, 40%);
    border: 0.1rem solid hsl(0, 0, 28%);
    transition: 0.2s cubic-bezier(.51, .92, .24, 1.15);
    box-shadow: hsla(0, 0%, 11%, 0.2) 0px 0.4px 4px;
    background-color: hsl(0, 0, 26%);
}